.switch {
  display: flex;
  justify-content: center;
}
.switch__wrapper {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 24px;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 28px;
}
.switch__wrapper input {
  display: none;
}
.switch__wrapper input:checked + .switch__slider:before {
  transform: translateX(60px);
}
.switch__wrapper input:checked ~ div:after {
  color: #ffffff;
  transition: color 0.3s ease 0s;
}
.switch__wrapper input:checked ~ div:before {
  color: #919191;
  transition: color 0.3s ease 0s;
}
.switch div::before {
  content: 'RU';
  position: relative;
  z-index: 5;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  bottom: -1.5px;
  left: 23px;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}
.switch div::after {
  content: 'EN';
  position: relative;
  z-index: 5;
  font-weight: 600;
  font-size: 16px;
  color: #919191;
  bottom: -1.5px;
  left: 61px;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
}
.switch__slider::before {
  position: absolute;
  content: '';
  width: 70px;
  height: 24px;
  left: -1px;
  bottom: -1px;
  background-color: var(--main-color);
  transition: all 0.4s ease 0s;
  border-radius: 28px;
}
