.advantage__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 40px 20px !important;
  background-color: #fff;
}

.advantage__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  height: 220px;
  padding: 40px 0;
  position: relative;
  fill: url(#pattern_242_195040);
  transition: fill 0.3s ease;
}

.advantage__wrapper:hover {
  fill: url(#pattern_242_195220);
  transition: fill 0.3s ease;
  border-bottom: 3px solid #00b307;
}

.advantage__image {
  width: 72px;
  height: 72px;
  fill: #00b307;
}

.advantage__wrapper:hover .advantage__image {
  fill: #fff;
  transition: all 0.5s ease;
}

.advantage__title {
  margin: 0;
}

.advantage__description {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .advantage__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .advantage__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .advantage__description {
    font-size: 15px;
  }
}
