.burger {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 102;
}

.burger span {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 12px;
  display: block;
  transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
  content: '';
  width: 100%;
  background-color: black;
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  height: 2px;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
  margin-top: -2px;
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}

.burger__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: white;
  z-index: 100;
  border-right: black solid 1px;
  transition: all 0.3s ease-in-out;
}

.burger__outside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

.burger__container {
  position: absolute;
  top: 70px;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
  z-index: 101;
}

.burger__container__close {
  position: absolute;
  top: 70px;
  left: -1000px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
  z-index: 101;
}

.burger__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burger__links__item__text {
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-size: 16px;
}

.burger__links__item__text:hover {
  color: var(--main-color);
}

.burger__close {
  position: absolute;
  top: 0;
  left: 10000px;
}

.burger__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.burger__buttons__item {
  position: relative;
  left: -6px;
  list-style-type: none;
  fill: #fff;
  stroke: #fff;
}

.burger__buttons__item__wish_list {
  color: black;
  fill: #fff;
}

.burger__buttons__item__shopping_cart {
  color: black;
  fill: #fff;
}

.burger__buttons__item__wish_list:hover {
  transition: all 0.3s ease;
  color: var(--main-color);
  fill: var(--main-color);
}

.burger__buttons__item__shopping_cart:hover {
  transition: all 0.3s ease;
  color: var(--main-color);
  fill: var(--main-color);
}

.burger__buttons__item__text {
  font-weight: 400;
  font-size: 16px;
}
