.footer {
  background: #1a1a1a;
}

.footer__about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px;
  color: #fff;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 110px;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.footer__about__contacts {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__about__contacts__text {
  margin: 0;
  color: #808080;
}

.footer__about__description {
  width: 500px;
  color: #808080;
}

.footer__bottom {
  border-top: 1px solid #2e2e4c;
  align-items: center;
}

.footer__about__logo {
  display: flex;
  width: 60px;
  fill: #fff;
}

.footer__about__contacts__link {
  color: #fff;
}

.footer__about__contacts__link:hover {
  color: #808080;
}

.footer__links__list_link {
  color: #999999;
  font-size: 16px;
}

.footer__links__list_link:hover {
  color: #fff;
}

.footer__links__list__title {
  margin-bottom: 27px;
  margin-top: 0;
}

.footer__links__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 140px;
}

.footer__bottom__partners {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer__svg:hover .footer__bottom__partners_pay {
  stroke: var(--color-primary);
}

.footer__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MuiPaper-root {
  color: #fff !important;
  background-color: #1a1a1a !important;
}
.MuiAccordionSummary-expandIcon {
  color: #fff !important;
}

@media screen and (max-width: 1200px) {
  .footer__top {
    gap: 60px;
  }
  .footer__top {
    flex-direction: column;
  }

  .footer__about {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer__list {
    justify-content: space-between;
    gap: 40px;
  }

  .footer__about_media {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 860px) {
  .footer__list {
    justify-content: space-between;
  }
  .footer__about_media {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .footer__bottom {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 550px) {
  .footer__about {
    flex-direction: column;
  }

  .footer__about__contacts {
    flex-direction: column;
    align-items: center;
  }
}
