.header {
  margin: 8px 0;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

  }

  &__burger{
    display: flex;
    gap: 20px;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    position: relative;
  }

  &__links {
    display: flex;
    gap: 27px;
    min-width: 400px;
  }

  &__links__item {
    text-decoration: none;

    &__text {
      transition: all 0.3s ease-in-out;
      font-weight: 400;
      font-size: 16px;


      &:hover {
        color: var(--main-color);
      }


    }

  }

  &__logo {
    display: flex;
  }

  &__buttons {
    display: flex;
    gap: 20px;
    align-items: center;

  }

  &__buttons__item {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;


    &__svg {
      fill: transparent;
    }

    :hover {
      transition: fill 0.3s ease;
      fill: var(--main-color);
    }

    &__search__open {
      position: absolute;
      top: 0;
      right: 0;
    }

  }
}

