.header__buttons__search {
  width: 100%;
}

.header__buttons__search__media {
  margin: 0 20px !important;
  width: 100%;
  max-width: 450px;
  min-width: 70px;
}

.header__buttons__search__label {
  display: flex;
  width: 100%;
  height: 32px;
  position: relative;
}
.header__buttons__search__input {
  border: 2px solid #999 !important;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 30px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header__buttons__search__input:focus {
  outline: none;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgba(230, 230, 230, 0.3);
}

.header__buttons__search__floating_label {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: rgba(255, 255, 255, 0);
  transition:
    top 0.2s ease-in-out,
    font-size 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.header__buttons__search__input.placeholder
  + .header__buttons__search__floating_label {
  font-size: 14px;
  width: 100%;
  transition: font-size 0.2s ease-in-out;
  color: #999;
}

.search {
  position: absolute;
  width: 240px;
  top: 0;
  right: 145px;
  pointer-events: auto;
  transition: all 0.3s ease-in-out;
}

.search-close {
  position: absolute;
  top: 0;
  right: -600px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
