.subscribe__container {
  width: 100%;
  padding-bottom: 40px;
}

.subscribe__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(26, 26, 26);
  padding: 50px;
  border-radius: 10px;
  width: 100%;
}

.subscribe__information {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subscribe__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 384px;
}

.subscribe__title {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  color: #fff;
}

.subscribe__description {
  margin: 0;
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-size: 14px;
}

.subscribe__form {
  background: rgb(51, 51, 51);
  position: relative;
  border-radius: 46px;
}
/*  */
.subscribe__input {
  background: rgb(51, 51, 51);
  border: 1px solid rgb(51, 51, 51);
  width: 460px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 46px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 46px;
  color: #fff;
}

.subscribe__input:focus {
  outline: none;
}

.subscribe__btn:focus {
  outline: none;
}

.subscribe__btn {
  position: absolute;
  right: 1px;
  top: 1px;
  min-width: 185px;
  padding: 14px 0px;
  border-radius: 43px;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.5s ease;
}

.subscribe__btn:hover {
  background: var(--orange-color);
  transition: all 0.5s ease;
}

.subscribe__buttons__search__floating_label {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  color: rgba(255, 255, 255, 0);
  transition:
    top 0.2s ease-in-out,
    font-size 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.subscribe__input.placeholder + .subscribe__buttons__search__floating_label {
  font-size: 14px;
  width: 100%;
  transition: font-size 0.2s ease-in-out;
  color: #999;
}

.subscribe__social_media {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subscribe__social_media__link {
  height: 40px;
}

.subscribe__social_media__link:hover .subscribe__social_media-facebook,
.subscribe__social_media__link:hover .subscribe__social_media-instagram,
.subscribe__social_media__link:hover .subscribe__social_media-pinterest,
.subscribe__social_media__link:hover .subscribe__social_media-twitter {
  transition: fill 0.3s ease;
  fill: #fff;
}

.subscribe__social_media__link:hover {
  transition: fill 0.3s ease;
  background: var(--main-color);
  border-radius: 50%;
}

.subscribe__media_wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.subscribe__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.subscribe__success__text1 {
  color: var(--main-color);
}
.subscribe__success__text2 {
  color: var(--main-color);
}

.subscribe__media_wrapper__success {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.subscribe__social_media__success {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-error {
  border: 1px solid red;
}

@media screen and (max-width: 1200px) {
  .subscribe__wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .subscribe__media_wrapper__success {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .subscribe__social_media__success {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .subscribe__media_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .subscribe__success {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .subscribe__title {
    font-size: 20px;
  }

  .subscribe__input {
    width: 350px;
  }

  .subscribe__btn {
    padding: 14px 15px;
  }

  .subscribe__success__text2 {
    display: none;
  }

  .subscribe__success__text1 {
    font-size: 14px;
  }

  .subscribe__btn {
    min-width: 120px;
  }
}

@media screen and (max-width: 550px) {
  .subscribe__input {
    width: 260px;
  }
  .subscribe__wrapper {
    padding: 21px;
  }
}
